# ignore standalone code (old version)
standalone_code/

# ignore __pycache_
**/__pycache__/
code/control_ws/install/**
code/control_ws/build/**
code/control_ws/logs/**
code/control_ws/devel/**

code/control_ws/log/**
**/*.pyc
**/*.vscode
